:root {
    --color-box-shadow: rgba(0, 0, 0, 0.5);
    --color-text: cornsilk;
    --color-background-1: #1E1E2C;
    --color-background-2: #282A36;
    --color-background-3: #44475A;
    --color-primary: #4B0082;
    --color-secondary: #6A0DAD;
    --color-accent: #8A2BE2;
}

body {
    background-color: var(--color-background-1);
    color: var(--color-text);
    font-family: "Comic Neue", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    row-gap: 75px;
    max-width: 450px;
    margin-bottom: 100px;
}

.box {
    width: 100px;
    height: 100px;
    transition: .5s;
    border-radius: 10px;
    background-color: var(--color-background-2);
    box-shadow: 0px 0px 10px var(--color-box-shadow);
    position: relative;
}

.box.active .title{
    margin-inline: .3px;
}

.box:hover {
    cursor: pointer;
}

.box img {
    width: 100px;
    border-radius: 10px;
}

.box .title {
    margin-top: -25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.active {
    transform: rotateX(-180deg);
    transition: .5s;
}

.active .title {
    margin-top: -85px;
    transform: rotateX(-180deg);
}

.active img {
    visibility: hidden;
}

button, select {
    border-radius: 25px;
    text-align: center;
    padding: 5px 7.5px;
    border: 0;
    background-color: var(--color-secondary);
    color: var(--color-text);
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--color-box-shadow);
}

.submit {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#album {
    width: 100px;
    appearance: none;
}

.list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
}

.content {
    background-color: var(--color-background-2);
    width: 250px;
    padding: 50px;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
}

#checkbox li {
    display: flex;
    justify-content: left;
    text-align: left;
    gap: 5px;
    margin-left: -20px;
    margin-top: -15px;
}

#checkbox {
    list-style-type: none; /* Rimuove i punti di elenco */
    padding: 0;
    margin-top: 30px;
}

#checkbox li {
    margin-bottom: 30px; /* Spazio tra gli elementi della lista */
}

/* Stili per le checkbox personalizzate */
#checkbox input[type="checkbox"] {
    display: none; /* Nasconde la checkbox nativa */
}

#checkbox label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin-left: -10px;
    text-transform: capitalize;
}

#checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    background-color: cornsilk;
    border-radius: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

#checkbox input[type="checkbox"]:checked + label:before {
    background-color: var(--color-accent); /* Cambia colore di sfondo quando selezionata */
    border-color: var(--color-accent); /* Cambia colore del bordo quando selezionata */
}

#checkbox label:after {
    content: 'x'; /* Simbolo di spunta (Unicode) */
    font-size: 16px;
    position: absolute;
    top: 11px;
    left: 8.5px;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0; /* Inizialmente invisibile */
    transition: opacity 0.3s;
}

#checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1; /* Mostra il simbolo di spunta quando la checkbox è selezionata */
}

/* Stili aggiuntivi per hover */
#checkbox label:hover:before {
    border-color:var(--color-accent); /* Cambia colore del bordo al passaggio del mouse */
}

#checkbox label:hover:after {
    opacity: 1; /* Mostra il simbolo di spunta al passaggio del mouse */
}

.hidden {
    display: none !important;
}

.flex {
    margin-top: 30px;
    display: flex;
    height: 35px;
    line-height: 0;
    border-radius: 25px;
    box-shadow: 0px 0px 10px var(--color-box-shadow);
    background-color: var(--color-background-2);
}

.flex h3 {
    width: 40px;
}

.flex button {
    box-shadow: 0px 0px 0px !important;
    padding: 10px;
    width: 40px;
}

.flex button:first-child {
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.flex button:last-child {
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.active .long{
    margin-top: -25px;
}

.yours{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--color-background-2);
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 20px;
}

.active .yours{
    transform: rotateX(180deg);
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.selected{
    color: var(--color-accent);
}

.selected i{
    margin-left: .3em;
}

#select-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.choose{
    font-size: 17px;
    font-weight: bold;
    padding:7.5px 10px ;
}

#select-container .box{
    margin-top: 50px;
}

.online{
    background-color: var(--color-text);
    color: var(--color-accent);
    text-decoration:line-through;
}